In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle

In [2]:
df = pd.read_csv("../data/CleanData.csv")
df.head(10)

,Unnamed: 0,property-type,rooms-number,area,open-fire,terrace-area,terrace,garden,garden-area,swimming-pool,price,type,zip-code,region,equipped-kitchen,building-state,facades-number
0,146,HOUSE,7,687,False,1.0,True,True,1,True,1580000.0,HOUSE,1180,Uccle,HYPER_EQUIPPED,AS_NEW,4.0
1,149,HOUSE,4,198,False,50.0,True,True,1050,False,378000.0,HOUSE,7533,Tournai,INSTALLED,GOOD,3.0
2,172,HOUSE,3,173,False,12.0,True,True,47,False,450000.0,HOUSE,1800,Koningslo,USA_INSTALLED,AS_NEW,2.0
3,196,HOUSE,4,147,False,16.0,True,True,130,False,325000.0,HOUSE,3370,Boutersem,INSTALLED,GOOD,2.0
4,197,HOUSE,3,187,False,49.0,True,True,1165,False,445000.0,HOUSE,3401,Landen,INSTALLED,GOOD,4.0
5,233,HOUSE,3,156,False,10.0,True,True,402,False,359000.0,HOUSE,9100,Sint-Niklaas,SEMI_EQUIPPED,TO_RENOVATE,4.0
6,241,VILLA,4,170,True,30.0,True,True,1000,True,595000.0,HOUSE,1320,Beauvechain,USA_HYPER_EQUIPPED,AS_NEW,4.0
7,264,HOUSE,4,200,False,28.0,True,True,54,False,304000.0,HOUSE,7060,Soignies,HYPER_EQUIPPED,AS_NEW,2.0
8,269,HOUSE,3,160,False,25.0,True,True,400,False,625000.0,HOUSE,1640,Rhode-Saint-Genese,INSTALLED,GOOD,4.0
9,270,VILLA,3,254,False,50.0,True,True,1600,True,750000.0,HOUSE,7540,Kain,HYPER_EQUIPPED,AS_NEW,4.0

In [3]:
df.shape

(828, 17)

In [4]:
featurs=['zip-code', 'rooms-number', 'area','terrace','garden-area'] 

X= df[featurs]
y= df['price']

In [5]:
df[featurs]

     zip-code  rooms-number  area  terrace  garden-area
0        1180             7   687     True            1
1        7533             4   198     True         1050
2        1800             3   173     True           47
3        3370             4   147     True          130
4        3401             3   187     True         1165
..        ...           ...   ...      ...          ...
823      7322             1    67     True           20
824      1070             2    70     True          100
825      1180             3   172     True          130
826      1180             2    80     True           30
827      3550             1    54     True          100

[828 rows x 5 columns]

In [6]:
df['price']

0      1580000.0
1       378000.0
2       450000.0
3       325000.0
4       445000.0
         ...
823     152000.0
824     210000.0
825     570000.0
826     240000.0
827     199000.0
Name: price, Length: 828, dtype: float64

In [7]:
print(X.shape)
print(y.shape)

(828, 5)
(828,)

In [8]:
corr= df.corr()
corr

,Unnamed: 0,rooms-number,area,open-fire,terrace-area,terrace,garden,garden-area,swimming-pool,price,zip-code,facades-number
Unnamed: 0,1.000000,-0.326308,-0.175475,-0.130027,-0.072678,NaN,NaN,-0.040921,-0.097584,-0.078366,-0.126318,-0.154259
rooms-number,-0.326308,1.000000,0.424953,0.066090,0.234888,NaN,NaN,0.110011,0.212739,0.467866,-0.123356,0.192530
area,-0.175475,0.424953,1.000000,0.095791,0.239265,NaN,NaN,0.049237,0.201039,0.451197,-0.042941,0.219211
open-fire,-0.130027,0.066090,0.095791,1.000000,0.014439,NaN,NaN,-0.011346,0.031060,0.050363,-0.036337,0.161650
terrace-area,-0.072678,0.234888,0.239265,0.014439,1.000000,NaN,NaN,0.056333,0.192723,0.312958,-0.060195,0.284455
terrace,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
garden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
garden-area,-0.040921,0.110011,0.049237,-0.011346,0.056333,NaN,NaN,1.000000,0.153061,0.237997,-0.036727,0.071809
swimming-pool,-0.097584,0.212739,0.201039,0.031060,0.192723,NaN,NaN,0.153061,1.000000,0.349802,-0.084365,0.270137
price,-0.078366,0.467866,0.451197,0.050363,0.312958,NaN,NaN,0.237997,0.349802,1.000000,-0.312512,0.250734
zip-code,-0.126318,-0.123356,-0.042941,-0.036337,-0.060195,NaN,NaN,-0.036727,-0.084365,-0.312512,1.000000,0.044647
facades-number,-0.154259,0.192530,0.219211,0.161650,0.284455,NaN,NaN,0.071809,0.270137,0.250734,0.044647,1.000000

In [9]:
df.describe()

,Unnamed: 0,rooms-number,area,terrace-area,garden-area,price,zip-code,facades-number
count,828.000000,828.000000,828.000000,828.000000,828.000000,8.280000e+02,828.000000,828.000000
mean,6837.586957,3.417874,210.981884,30.620773,1373.019324,4.927946e+05,4365.937198,2.960145
std,4504.966927,1.291501,172.616505,27.233304,18124.421309,3.842128e+05,2831.849292,0.913214
min,146.000000,1.000000,44.000000,1.000000,1.000000,2.900000e+04,1000.000000,1.000000
25%,3095.750000,3.000000,136.000000,15.000000,69.000000,2.798750e+05,1837.750000,2.000000
50%,6401.000000,3.000000,178.000000,22.500000,200.000000,3.950000e+05,3581.000000,3.000000
75%,9280.500000,4.000000,235.000000,40.000000,550.000000,5.500000e+05,6737.500000,4.000000
max,19968.000000,11.000000,2800.000000,200.000000,513385.000000,3.500000e+06,9960.000000,8.000000

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [11]:
print('Train', X_train.shape, y_train.shape)
print('Test', X_test.shape, y_test.shape)

Train (662, 5) (662,)
Test (166, 5) (166,)

In [12]:
regressor= LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [13]:
regressor.score(X_train, y_train)

0.44400176752796383

In [14]:
regressor.score(X_test, y_test)

-0.27924552731295793

In [15]:
predict= regressor.predict(X_test)
predict

array([ 315183.01986289,  242610.23371976,  503545.4173542 ,
        432807.3195036 ,  367198.46537589,  152094.78323616,
        638321.68194496,  443699.49398003, 1133466.92706568,
        454378.79072487,   93820.03111098,  438697.49823353,
        259857.56040611,  456236.71800871,  206463.02428476,
        805581.38875197,  399891.35765224,  263224.91927349,
        468423.40630152,  311134.69765099, 1067016.54028595,
        250741.70814491,  724761.79437784,  359644.73265775,
        534584.49287216,  558057.18459071,  296961.57566088,
        354933.18445776,  250441.27357823,  437989.90816829,
        205666.98007521,  174562.4384692 ,  636198.0579123 ,
        723003.71857011,  245795.81869276,  432623.44923888,
        225041.98957762,  867285.14404891,  307091.69258496,
        534131.54650239,  876223.33696603,   81700.91594483,
        360812.74888602,  486942.89109758,  472604.12255777,
        253519.22836343,  371891.2472323 ,  399891.35765224,
        228690.13252347,  649712.34609038,  372915.91238595,
        918688.99387387,  333338.32527777,  865379.66191333,
        175415.57527146,  678163.15962487,  572443.95840262,
        582080.18749352,  349135.79364478,  155494.87251846,
        738590.06065467,  444395.88773888,  507020.04071601,
        460610.69722393,  231245.37862869,  294879.25922461,
        289559.87286602,  719258.01591905,  357143.54023385,
        425902.39489107,  468817.61586861,  840208.33497915,
        367576.51178049,  523930.82065171,  338841.6272595 ,
        408052.84194753,  383444.62901138,  444035.89420867,
        578637.13473425,  473112.6467131 ,  235626.91991528,
        544240.94718145,  474133.94003183,  212937.32945443,
        193120.48527554,  944024.94217193,  839744.41906998,
        453513.5792532 , 3432285.25241687,  494105.86866321,
       1033389.29052908,  492355.3667442 ,  186783.11693552,
        974850.75762464,  499616.65529369,  327233.32313049,
        515160.4488404 ,  571515.78946592,  412888.22835454,
        500531.85030864,  244929.05043298,  460134.82000782,
        475108.71032105,  409571.51160026,  612022.50258085,
        322418.0687525 ,  316669.27805849,  525758.19057215,
        311707.10113758,  541968.31256988, 1404589.99507036,
        741957.98842804,  150515.16856367,  266983.44431806,
        138591.59044006,  434312.9165334 ,  338988.30788513,
        352974.18889592,  181222.94099438,  453994.90735035,
        784494.76955296, 1058590.25471779,  553205.81582664,
        313772.99127905,  535743.42745295,  789695.89251923,
        910817.39310383,  731047.93927751, 1116658.0192862 ,
        579239.53958524,  353566.93370378,  323426.04338908,
        314382.30375592,  250750.16318397,  742479.80560423,
        404337.03610434,  780783.34909216,  269963.1693553 ,
        811191.24066739,  575527.74106402,  536490.35773839,
        811091.96379859,  636633.66622277,  558211.26807214,
        253537.96538134,  555567.42173421,  241461.83314254,
        572113.00555825,  234778.23472474,  460224.93716787,
        529482.87797436,  352583.62103716,  512119.51623872,
        295680.38985414,  390694.16226962,  338514.99285194,
        464625.95137152,  252007.36945789,  483240.59274951,
        742713.54302647,  425581.67538591,  467782.31362179,
        204920.16234   ,  257815.70710827,  337413.06831428,
       2284734.59004011])

In [16]:
pickle.dump(regressor,open('../data/model.pkl','wb'))