In [39]:
import pandas as pd
import numpy as np

In [40]:
df = pd.read_csv('../data/Immoweb_Scraper.csv')
df

,Unnamed: 0,subtype,bedroomCount,netHabitableSurface,fireplaceExists,terraceSurface,hasTerrace,hasGarden,gardenSurface,hasSwimmingPool,price,type,postalCode,locality,kitchen,condition,facadeCount,isFurnished
0,0,HOUSE,4.0,160.0,False,NaN,NaN,True,NaN,False,599000.0,HOUSE,2800,Mechelen,INSTALLED,NaN,NaN,NaN
1,1,HOUSE,2.0,143.0,False,NaN,NaN,True,NaN,False,260000.0,HOUSE,3580,Beringen,NaN,TO_RENOVATE,NaN,NaN
2,2,HOUSE,3.0,145.0,False,NaN,NaN,True,NaN,False,189000.0,HOUSE,3630,Maasmechelen,NaN,GOOD,NaN,NaN
3,3,HOUSE,7.0,458.0,False,NaN,NaN,True,NaN,False,795000.0,HOUSE,9280,Lebbeke,INSTALLED,TO_BE_DONE_UP,NaN,NaN
4,4,HOUSE,3.0,131.0,False,NaN,NaN,True,NaN,False,235000.0,HOUSE,2480,Dessel,INSTALLED,TO_RENOVATE,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20176,20176,APARTMENT,2.0,58.0,False,NaN,NaN,NaN,NaN,False,150000.0,APARTMENT,8450,Bredene,NaN,GOOD,2.0,NaN
20177,20177,APARTMENT,2.0,75.0,False,NaN,NaN,NaN,NaN,False,670000.0,APARTMENT,8300,het Zoute,NaN,AS_NEW,2.0,NaN
20178,20178,APARTMENT,2.0,70.0,False,NaN,NaN,NaN,NaN,NaN,185000.0,APARTMENT,8400,Oostende,NaN,AS_NEW,NaN,NaN
20179,20179,APARTMENT,1.0,63.0,False,1.0,True,NaN,NaN,False,199000.0,APARTMENT,5310,Eghezee,INSTALLED,GOOD,2.0,NaN
20180,20180,APARTMENT,2.0,80.0,False,NaN,NaN,NaN,NaN,False,129000.0,APARTMENT,8400,Oostende,INSTALLED,GOOD,2.0,NaN

In [41]:
df.head()

,Unnamed: 0,subtype,bedroomCount,netHabitableSurface,fireplaceExists,terraceSurface,hasTerrace,hasGarden,gardenSurface,hasSwimmingPool,price,type,postalCode,locality,kitchen,condition,facadeCount,isFurnished
0,0,HOUSE,4.0,160.0,False,NaN,NaN,True,NaN,False,599000.0,HOUSE,2800,Mechelen,INSTALLED,NaN,NaN,NaN
1,1,HOUSE,2.0,143.0,False,NaN,NaN,True,NaN,False,260000.0,HOUSE,3580,Beringen,NaN,TO_RENOVATE,NaN,NaN
2,2,HOUSE,3.0,145.0,False,NaN,NaN,True,NaN,False,189000.0,HOUSE,3630,Maasmechelen,NaN,GOOD,NaN,NaN
3,3,HOUSE,7.0,458.0,False,NaN,NaN,True,NaN,False,795000.0,HOUSE,9280,Lebbeke,INSTALLED,TO_BE_DONE_UP,NaN,NaN
4,4,HOUSE,3.0,131.0,False,NaN,NaN,True,NaN,False,235000.0,HOUSE,2480,Dessel,INSTALLED,TO_RENOVATE,NaN,NaN

In [42]:
df = df.drop(["Unnamed: 0"], axis=1)

In [43]:
df.drop('isFurnished', axis=1, inplace=True)

In [44]:
df=df.replace('Unknown', np.NaN, regex=True)
df.head()

,subtype,bedroomCount,netHabitableSurface,fireplaceExists,terraceSurface,hasTerrace,hasGarden,gardenSurface,hasSwimmingPool,price,type,postalCode,locality,kitchen,condition,facadeCount
0,HOUSE,4.0,160.0,False,NaN,NaN,True,NaN,False,599000.0,HOUSE,2800,Mechelen,INSTALLED,NaN,NaN
1,HOUSE,2.0,143.0,False,NaN,NaN,True,NaN,False,260000.0,HOUSE,3580,Beringen,NaN,TO_RENOVATE,NaN
2,HOUSE,3.0,145.0,False,NaN,NaN,True,NaN,False,189000.0,HOUSE,3630,Maasmechelen,NaN,GOOD,NaN
3,HOUSE,7.0,458.0,False,NaN,NaN,True,NaN,False,795000.0,HOUSE,9280,Lebbeke,INSTALLED,TO_BE_DONE_UP,NaN
4,HOUSE,3.0,131.0,False,NaN,NaN,True,NaN,False,235000.0,HOUSE,2480,Dessel,INSTALLED,TO_RENOVATE,NaN

In [45]:
df.columns

Index(['subtype', 'bedroomCount', 'netHabitableSurface', 'fireplaceExists',
       'terraceSurface', 'hasTerrace', 'hasGarden', 'gardenSurface',
       'hasSwimmingPool', 'price', 'type', 'postalCode', 'locality', 'kitchen',
       'condition', 'facadeCount'],
      dtype='object')

In [46]:
df.dropna(subset=['bedroomCount'], inplace=True)
df.dropna(subset=['netHabitableSurface'], inplace=True)
df.dropna(subset=['terraceSurface'], inplace=True)
df.dropna(subset=['hasTerrace'], inplace=True)
df.dropna(subset=['hasGarden'], inplace=True)
df.dropna(subset=['gardenSurface'], inplace=True)
df.dropna(subset=['hasSwimmingPool'], inplace=True)
df.dropna(subset=['price'], inplace=True)
df.dropna(subset=['kitchen'], inplace=True)
df.dropna(subset=['condition'], inplace=True)
df.dropna(subset=['facadeCount'], inplace=True)
df.isna()

,subtype,bedroomCount,netHabitableSurface,fireplaceExists,terraceSurface,hasTerrace,hasGarden,gardenSurface,hasSwimmingPool,price,type,postalCode,locality,kitchen,condition,facadeCount
146,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
149,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
172,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
196,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
197,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19757,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19846,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19873,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19953,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19968,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [47]:
df.head()

,subtype,bedroomCount,netHabitableSurface,fireplaceExists,terraceSurface,hasTerrace,hasGarden,gardenSurface,hasSwimmingPool,price,type,postalCode,locality,kitchen,condition,facadeCount
146,HOUSE,7.0,687.0,False,1.0,True,True,1.0,True,1580000.0,HOUSE,1180,Uccle,HYPER_EQUIPPED,AS_NEW,4.0
149,HOUSE,4.0,198.0,False,50.0,True,True,1050.0,False,378000.0,HOUSE,7533,Tournai,INSTALLED,GOOD,3.0
172,HOUSE,3.0,173.0,False,12.0,True,True,47.0,False,450000.0,HOUSE,1800,Koningslo,USA_INSTALLED,AS_NEW,2.0
196,HOUSE,4.0,147.0,False,16.0,True,True,130.0,False,325000.0,HOUSE,3370,Boutersem,INSTALLED,GOOD,2.0
197,HOUSE,3.0,187.0,False,49.0,True,True,1165.0,False,445000.0,HOUSE,3401,Landen,INSTALLED,GOOD,4.0

In [48]:
df.count()

subtype                866
bedroomCount           866
netHabitableSurface    866
fireplaceExists        866
terraceSurface         866
hasTerrace             866
hasGarden              866
gardenSurface          866
hasSwimmingPool        866
price                  866
type                   866
postalCode             866
locality               866
kitchen                866
condition              866
facadeCount            866
dtype: int64

In [49]:
df.head()

,subtype,bedroomCount,netHabitableSurface,fireplaceExists,terraceSurface,hasTerrace,hasGarden,gardenSurface,hasSwimmingPool,price,type,postalCode,locality,kitchen,condition,facadeCount
146,HOUSE,7.0,687.0,False,1.0,True,True,1.0,True,1580000.0,HOUSE,1180,Uccle,HYPER_EQUIPPED,AS_NEW,4.0
149,HOUSE,4.0,198.0,False,50.0,True,True,1050.0,False,378000.0,HOUSE,7533,Tournai,INSTALLED,GOOD,3.0
172,HOUSE,3.0,173.0,False,12.0,True,True,47.0,False,450000.0,HOUSE,1800,Koningslo,USA_INSTALLED,AS_NEW,2.0
196,HOUSE,4.0,147.0,False,16.0,True,True,130.0,False,325000.0,HOUSE,3370,Boutersem,INSTALLED,GOOD,2.0
197,HOUSE,3.0,187.0,False,49.0,True,True,1165.0,False,445000.0,HOUSE,3401,Landen,INSTALLED,GOOD,4.0

In [50]:
df.dtypes

subtype                 object
bedroomCount           float64
netHabitableSurface    float64
fireplaceExists           bool
terraceSurface         float64
hasTerrace              object
hasGarden               object
gardenSurface          float64
hasSwimmingPool         object
price                  float64
type                    object
postalCode               int64
locality                object
kitchen                 object
condition               object
facadeCount            float64
dtype: object

In [51]:
df.rename(
        columns=({'subtype': 'property-type', 'bedroomCount': 'rooms-number',
                 'netHabitableSurface': 'area', 'fireplaceExists': 'open-fire',
                 'terraceSurface': 'terrace-area', 'hasTerrace': 'terrace',
                 'hasGarden': 'garden ', 'gardenSurface': 'garden-area',
                 'hasSwimmingPool': 'swimming-pool', 'postalCode': 'zip-code', 'locality': 'region',
                 'kitchen': 'equipped-kitchen', 'condition': 'building-state', 'facadeCount': 'facades-number'}),
        inplace=True
)
df

,property-type,rooms-number,area,open-fire,terrace-area,terrace,garden,garden-area,swimming-pool,price,type,zip-code,region,equipped-kitchen,building-state,facades-number
146,HOUSE,7.0,687.0,False,1.0,True,True,1.0,True,1580000.0,HOUSE,1180,Uccle,HYPER_EQUIPPED,AS_NEW,4.0
149,HOUSE,4.0,198.0,False,50.0,True,True,1050.0,False,378000.0,HOUSE,7533,Tournai,INSTALLED,GOOD,3.0
172,HOUSE,3.0,173.0,False,12.0,True,True,47.0,False,450000.0,HOUSE,1800,Koningslo,USA_INSTALLED,AS_NEW,2.0
196,HOUSE,4.0,147.0,False,16.0,True,True,130.0,False,325000.0,HOUSE,3370,Boutersem,INSTALLED,GOOD,2.0
197,HOUSE,3.0,187.0,False,49.0,True,True,1165.0,False,445000.0,HOUSE,3401,Landen,INSTALLED,GOOD,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19757,APARTMENT,2.0,70.0,False,10.0,True,True,100.0,False,210000.0,APARTMENT,1070,Anderlecht,USA_SEMI_EQUIPPED,AS_NEW,2.0
19846,APARTMENT,3.0,172.0,False,25.0,True,True,130.0,False,570000.0,APARTMENT,1180,Uccle,INSTALLED,GOOD,3.0
19873,GROUND_FLOOR,2.0,80.0,False,30.0,True,True,30.0,False,240000.0,APARTMENT,1180,Uccle,INSTALLED,GOOD,2.0
19953,APARTMENT,2.0,115.0,True,222.0,True,True,1.0,False,435000.0,APARTMENT,1180,Uccle,INSTALLED,GOOD,1.0
19968,APARTMENT,1.0,54.0,False,3.0,True,True,100.0,False,199000.0,APARTMENT,3550,Heusden,INSTALLED,AS_NEW,2.0

In [52]:
df['area']= df['area'].astype(int)
df['rooms-number']= df['rooms-number'].astype(int)
df['zip-code']= df['zip-code'].astype(int)
df['garden-area']= df['garden-area'].astype(int)
df

,property-type,rooms-number,area,open-fire,terrace-area,terrace,garden,garden-area,swimming-pool,price,type,zip-code,region,equipped-kitchen,building-state,facades-number
146,HOUSE,7,687,False,1.0,True,True,1,True,1580000.0,HOUSE,1180,Uccle,HYPER_EQUIPPED,AS_NEW,4.0
149,HOUSE,4,198,False,50.0,True,True,1050,False,378000.0,HOUSE,7533,Tournai,INSTALLED,GOOD,3.0
172,HOUSE,3,173,False,12.0,True,True,47,False,450000.0,HOUSE,1800,Koningslo,USA_INSTALLED,AS_NEW,2.0
196,HOUSE,4,147,False,16.0,True,True,130,False,325000.0,HOUSE,3370,Boutersem,INSTALLED,GOOD,2.0
197,HOUSE,3,187,False,49.0,True,True,1165,False,445000.0,HOUSE,3401,Landen,INSTALLED,GOOD,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19757,APARTMENT,2,70,False,10.0,True,True,100,False,210000.0,APARTMENT,1070,Anderlecht,USA_SEMI_EQUIPPED,AS_NEW,2.0
19846,APARTMENT,3,172,False,25.0,True,True,130,False,570000.0,APARTMENT,1180,Uccle,INSTALLED,GOOD,3.0
19873,GROUND_FLOOR,2,80,False,30.0,True,True,30,False,240000.0,APARTMENT,1180,Uccle,INSTALLED,GOOD,2.0
19953,APARTMENT,2,115,True,222.0,True,True,1,False,435000.0,APARTMENT,1180,Uccle,INSTALLED,GOOD,1.0
19968,APARTMENT,1,54,False,3.0,True,True,100,False,199000.0,APARTMENT,3550,Heusden,INSTALLED,AS_NEW,2.0

In [53]:
df.drop_duplicates(inplace=True)
df

,property-type,rooms-number,area,open-fire,terrace-area,terrace,garden,garden-area,swimming-pool,price,type,zip-code,region,equipped-kitchen,building-state,facades-number
146,HOUSE,7,687,False,1.0,True,True,1,True,1580000.0,HOUSE,1180,Uccle,HYPER_EQUIPPED,AS_NEW,4.0
149,HOUSE,4,198,False,50.0,True,True,1050,False,378000.0,HOUSE,7533,Tournai,INSTALLED,GOOD,3.0
172,HOUSE,3,173,False,12.0,True,True,47,False,450000.0,HOUSE,1800,Koningslo,USA_INSTALLED,AS_NEW,2.0
196,HOUSE,4,147,False,16.0,True,True,130,False,325000.0,HOUSE,3370,Boutersem,INSTALLED,GOOD,2.0
197,HOUSE,3,187,False,49.0,True,True,1165,False,445000.0,HOUSE,3401,Landen,INSTALLED,GOOD,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19757,APARTMENT,2,70,False,10.0,True,True,100,False,210000.0,APARTMENT,1070,Anderlecht,USA_SEMI_EQUIPPED,AS_NEW,2.0
19846,APARTMENT,3,172,False,25.0,True,True,130,False,570000.0,APARTMENT,1180,Uccle,INSTALLED,GOOD,3.0
19873,GROUND_FLOOR,2,80,False,30.0,True,True,30,False,240000.0,APARTMENT,1180,Uccle,INSTALLED,GOOD,2.0
19953,APARTMENT,2,115,True,222.0,True,True,1,False,435000.0,APARTMENT,1180,Uccle,INSTALLED,GOOD,1.0
19968,APARTMENT,1,54,False,3.0,True,True,100,False,199000.0,APARTMENT,3550,Heusden,INSTALLED,AS_NEW,2.0

In [54]:
df.dtypes

property-type        object
rooms-number          int32
area                  int32
open-fire              bool
terrace-area        float64
terrace              object
garden               object
garden-area           int32
swimming-pool        object
price               float64
type                 object
zip-code              int32
region               object
equipped-kitchen     object
building-state       object
facades-number      float64
dtype: object

In [55]:
df = df.drop(df[df["property-type"] == "MANSION"].index)
df = df.drop(df[df["price"] > 9000000].index)
df = df.drop(df[df["rooms-number"] > 50].index)
df = df.drop(df[df["rooms-number"] < 1].index)
df = df.drop(df[df["area"] > 5000].index)
df = df.drop(df[df["terrace-area"] > 200].index)
df = df.drop(df[df["garden-area"] > 600000].index)

In [56]:
df.count()

property-type       828
rooms-number        828
area                828
open-fire           828
terrace-area        828
terrace             828
garden              828
garden-area         828
swimming-pool       828
price               828
type                828
zip-code            828
region              828
equipped-kitchen    828
building-state      828
facades-number      828
dtype: int64

In [57]:
df.to_csv('../data/CleanData.csv')